@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
// @import "bootstrap/scss/maps";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/utilities";

.home {
  h4 {
    color: $orange-500;
  }
  p {
    span.cardSubtitle {
      color: $orange-400;
    }
  }

  p {
    span.text {
      color: $gray-700;
    }
  }

  section {
    a {
      svg {
        margin-left: 1rem;
      }
    }
  }

  section {
    .disclamerSectionOne {
      // display: flex;
      // justify-content: center;
      h3 {
        line-height: 1.8;
        font-size: 3rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    section {
      .disclamerSectionOne {
        h3 {
          font-size: 2rem;
        }
      }
    }
  }
}
